* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

h2 {
  text-align: right;
}

.container {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

header {
  width: 100%;
  height: auto;
  margin: 2em;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

section.output-container {
  width: 100%;
  height: auto;
  margin: 2em;
  background-color: blue;
  display: flex 1;
  flex-direction: column;
}

.output {
  width: 80%;
  font-size: 2.5em;
  text-align: center;
}

section.button-container {
  width: 100%;
  height: auto;
  margin: 2em;
  background-color: ##4c4c4c;
  display: flex;;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}

div.operators {
  background-color: #ff8c00;
  width: 3em;
  height: 3em;
  padding: 5px;
  text-align: center;
  border: 1px solid #4c4c4c;
  border-radius: 15px;
}

div .operators button {
  background-color: #ff8c00;
  border: none;
  line-height: 2em;
  font-size: 1.5em;
  color: #e0e0e0;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
}

div .operators button {
  background-color: #ff8c00;
  border: none;
  line-height: 2em;
  font-size: 1.5em;
  color: #e0e0e0;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
}

.text-btns {
  font-weight: normal;
}

div .numbers{
  background-color: #e0e0e0;
  width: 3em;
  height: 3em;
  padding: 5px;
  text-align: center;
  border: 1px solid #4c4c4c;
  border-radius: 15px;
}

div .numbers button {
  background-color: #e0e0e0;
  border: none;
  line-height: 2em;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
}
